* {
    box-sizing: border-box;
    margin: 0;    
}

body {
    font-family:'Outfit'
}

.nav-container{

}

.wrapper{
    max-width: 1065px;
    margin: 0 auto;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.purple-gradient {
    position: absolute;
    top: 0;
    left: 0;
}