body {
    /* background: #030d44; */
}

header {
    background: #030d44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    /* Other styling for the header */
  }
.logo {
    color: #fff;
    text-decoration: none;
    font-family: "Outfit sans", sans-serif;
    /* margin-left: -380px; */
    font-size: 20px;
    font-style: normal;
}

.menu-item {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  
  font-family: "Outfit sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 27.5px; /* 137.5% */
} 

.gradient {
    position: absolute;
}
.gradient2{
    margin-left: px;
}